body {
  font-family: Arial, sans-serif;
  background: #f16100;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

h1, h2{
  color: #dd4600;
}

.section {
  margin-bottom: 25px;
}

input, textarea, select {
  width: 780px;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

img#preview {
  max-width: 150px;
  margin-top: 10px;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background: #dd4600;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #003d7e;
}

.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 30px;
}
