body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #ff5e00;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1, h2 {
  color: #ff5e00;
}

.section {
  margin-bottom: 20px;
}

input, textarea, select {
  width: 870px;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #ff5e00;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ff5e00;
}

.button-group {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

#experiencias > div,
#formacoes > div {
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

#experiencias button,
#formacoes button {
  margin-top: 8px;
  background-color: #000dbd;
}

#experiencias button:hover,
#formacoes button:hover {
  background-color: #0261cc;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .container {
    padding: 15px;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }
}
